# Project 2 Business Challenge: EDA and SQL

In [3]:
# Import necessary libraries
import pandas as pd
import pymysql

#### Load the Datasets

Let's load the three datasets (`Features`, `Sales`, and `Stores`) into Python using the pandas library.

In [5]:
#datasets_path = r"C:\Users\mathl\OneDrive\Ironhack\Week 3\Week 3 - Day 4\project-2-eda-sql-master\Kaggle Datasets - Retail Data Analytics\\"
datasets_path = "../datasets/"

# Define file paths
features_file_path = f"{datasets_path}features_dataset.csv"
sales_file_path = f"{datasets_path}sales_dataset.csv"
stores_file_path = f"{datasets_path}stores_dataset.csv"

# Load datasets into pandas DataFrames
features_dataset = pd.read_csv(features_file_path)
sales_dataset = pd.read_csv(sales_file_path)
stores_dataset = pd.read_csv(stores_file_path)

#### Inspect the Datasets
After loading the datasets, we will inspect their structure to understand their contents. Specifically, we will:
- Check the first few rows of each dataset (`.head()`).
- Review the column names and data types (`.info()`).
- Identify any duplicates rows to ensure data integrity.
- Identify any missing values.

##### First few rows of each dataset

In [7]:
# Display the first few rows of each dataset to ensure they are loaded correctly
print("Features Dataset:")
print(features_dataset.head(), "\n")

print("Sales Dataset:")
print(sales_dataset.head(), "\n")

print("Stores Dataset:")
print(stores_dataset.head())

Features Dataset:
   Store        Date  Temperature  Fuel_Price  MarkDown1  MarkDown2  \
0      1  05/02/2010        42.31       2.572        NaN        NaN
1      1  12/02/2010        38.51       2.548        NaN        NaN
2      1  19/02/2010        39.93       2.514        NaN        NaN
3      1  26/02/2010        46.63       2.561        NaN        NaN
4      1  05/03/2010        46.50       2.625        NaN        NaN

   MarkDown3  MarkDown4  MarkDown5         CPI  Unemployment  IsHoliday
0        NaN        NaN        NaN  211.096358         8.106      False
1        NaN        NaN        NaN  211.242170         8.106       True
2        NaN        NaN        NaN  211.289143         8.106      False
3        NaN        NaN        NaN  211.319643         8.106      False
4        NaN        NaN        NaN  211.350143         8.106      False

Sales Dataset:
   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  05/02/2010      24924.50      False
1      1     1  12/02/2010      46039.49       True
2      1     1  19/02/2010      41595.55      False
3      1     1  26/02/2010      19403.54      False
4      1     1  05/03/2010      21827.90      False

Stores Dataset:
   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

##### Structure of each dataset

In [9]:
# Check the structure of the datasets
print("Features Dataset Info:")
features_dataset.info()

print("\nSales Dataset Info:")
sales_dataset.info()

print("\nStores Dataset Info:")
stores_dataset.info()

Features Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         8190 non-null   int64
 1   Date          8190 non-null   object
 2   Temperature   8190 non-null   float64
 3   Fuel_Price    8190 non-null   float64
 4   MarkDown1     4032 non-null   float64
 5   MarkDown2     2921 non-null   float64
 6   MarkDown3     3613 non-null   float64
 7   MarkDown4     3464 non-null   float64
 8   MarkDown5     4050 non-null   float64
 9   CPI           7605 non-null   float64
 10  Unemployment  7605 non-null   float64
 11  IsHoliday     8190 non-null   bool
dtypes: bool(1), float64(9), int64(1), object(1)
memory usage: 712.0+ KB

Sales Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 13.3+ MB

Stores Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Store   45 non-null     int64
 1   Type    45 non-null     object
 2   Size    45 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.2+ KB

#### Identifying duplicate rows in each dataset

In [11]:
# Check for duplicate rows in each dataset
print("\nDuplicate Rows in Features Dataset:", features_dataset.duplicated().sum())
print("Duplicate Rows in Sales Dataset:", sales_dataset.duplicated().sum())
print("Duplicate Rows in Stores Dataset:", stores_dataset.duplicated().sum())

Duplicate Rows in Features Dataset: 0
Duplicate Rows in Sales Dataset: 0
Duplicate Rows in Stores Dataset: 0

#### Identifying missing values in each dataset

In [13]:
print("\nMissing Values in Features Dataset:")
print(features_dataset.isnull().sum())

print("\nMissing Values in Sales Dataset:")
print(sales_dataset.isnull().sum())

print("\nMissing Values in Stores Dataset:")
print(stores_dataset.isnull().sum())

Missing Values in Features Dataset:
Store              0
Date               0
Temperature        0
Fuel_Price         0
MarkDown1       4158
MarkDown2       5269
MarkDown3       4577
MarkDown4       4726
MarkDown5       4140
CPI              585
Unemployment     585
IsHoliday          0
dtype: int64

Missing Values in Sales Dataset:
Store           0
Dept            0
Date            0
Weekly_Sales    0
IsHoliday       0
dtype: int64

Missing Values in Stores Dataset:
Store    0
Type     0
Size     0
dtype: int64

## Handling Missing Values

### Observations from Missing Values Analysis

#### Features Dataset
- The `Features` dataset contains missing values in the following columns:
  - **MarkDown1–MarkDown5:** These columns have a significant amount of missing data:
    - `MarkDown1`: 4158 missing values (~50% of the dataset).
    - `MarkDown2`: 5269 missing values (~64% of the dataset).
    - `MarkDown3`: 4577 missing values (~56% of the dataset).
    - `MarkDown4`: 4726 missing values (~58% of the dataset).
    - `MarkDown5`: 4140 missing values (~50% of the dataset).
    - These missing values likely indicate weeks when no markdowns were applied, which aligns with the business context of promotions being sporadic.
  - **CPI and Unemployment:** These columns have 585 missing values each (~7% of the dataset).
    - Missing values may result from unavailable macroeconomic data for certain periods or regions.

#### Sales Dataset
- The `Sales` dataset has no missing values. This ensures it is ready for merging and analysis without additional preprocessing.

#### Stores Dataset
- The `Stores` dataset is complete, with no missing values. This makes it straightforward to join with the other datasets.

### Implications of Missing Values
1. **MarkDown Columns:**
   - Missing values could represent a lack of markdown activity during those weeks.
   - Filling these values with `0` would be appropriate, as it assumes no markdowns were applied where data is missing.

2. **CPI and Unemployment:**
   - These macroeconomic factors are crucial for analysis. Since the proportion of missing values is small (~7%), we can use imputation techniques such as:
     - Forward-fill or backward-fill: To carry the most recent valid value forward/backward in time.
     - Mean or median imputation: To replace missing values with the overall average or median.

3. **Next Steps:**
   - Decide on the best imputation strategy for `MarkDown1–MarkDown5`, `CPI`, and `Unemployment` based on the business context and analysis goals.
   - Proceed with merging the datasets after handling missing values to ensure a clean and complete dataset for analysis.

## Handling Missing Values in Features Dataset

### Changes Made
1. **MarkDown1–MarkDown5:**
   - These columns represent promotional markdowns. Missing values are assumed to indicate no markdown activity during those weeks.
   - Missing values are replaced with `0` to reflect this assumption

2. **CPI and Unemployment:**
   - Forward-fill (`ffill()`) was used to propagate the most recent valid value, ensuring temporal continuity for these macroeconomic indicators.

In [16]:
# Handle missing values in MarkDown1–MarkDown5 by replacing with 0
features_dataset[['MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5']] = features_dataset[['MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5']].fillna(0)

# Handle missing values in CPI and Unemployment using forward-fill
features_dataset['CPI'] = features_dataset['CPI'].ffill()
features_dataset['Unemployment'] = features_dataset['Unemployment'].ffill()

# Verify missing values have been handled
print(features_dataset.isnull().sum())

Store           0
Date            0
Temperature     0
Fuel_Price      0
MarkDown1       0
MarkDown2       0
MarkDown3       0
MarkDown4       0
MarkDown5       0
CPI             0
Unemployment    0
IsHoliday       0
dtype: int64

## Converting Date Columns to Datetime Format

### Why Convert to Datetime Format?
1. **Consistency:** Ensures dates in the `Features` and `Sales` datasets have a consistent format for easier merging and analysis.
2. **Time-Series Operations:** Enables operations like extracting months, weeks, or years for deeper analysis of trends.
3. **Visualization:** Simplifies plotting metrics over time, such as sales trends.

### Code Implementation
- We use `pd.to_datetime()` from `pandas` to convert the `Date` columns to datetime format.
- The format provided (`%d/%m/%Y`) matches the dataset structure (`day/month/year`).

### Results
- The `Date` columns in both datasets are now in proper datetime format.
- This allows us to perform time-based operations seamlessly.

In [18]:
# Convert 'Date' column in Features dataset to datetime
features_dataset['Date'] = pd.to_datetime(features_dataset['Date'], format='%d/%m/%Y')

# Convert 'Date' column in Sales dataset to datetime
sales_dataset['Date'] = pd.to_datetime(sales_dataset['Date'], format='%d/%m/%Y')

# Verify the conversion
print(features_dataset['Date'].head())
print(sales_dataset['Date'].head())

0   2010-02-05
1   2010-02-12
2   2010-02-19
3   2010-02-26
4   2010-03-05
Name: Date, dtype: datetime64[ns]
0   2010-02-05
1   2010-02-12
2   2010-02-19
3   2010-02-26
4   2010-03-05
Name: Date, dtype: datetime64[ns]

---

## Import DataSets to MySQL

#### DataSets and Database definition

In [52]:
database_name = "retail_data" # Database name
tables = [stores_dataset, features_dataset, sales_dataset] # List of DataFrames
tables_title = ['stores', 'features', 'sales'] # Name of Tables

#### Database Connection

In [34]:
cnx = pymysql.connect(user='root', password='root', host='localhost') # Authentication
if cnx.open:
    print("Connection open")
else:
    print("Connection is not successfully open")

Connection open

### Creating cursor object to interact with database

In [36]:
cursor = cnx.cursor()

### Create the Database "retail_data"

In [181]:
query = f"DROP DATABASE IF EXISTS {database_name}" # Drop the Database
cursor.execute(query)

query = f"CREATE DATABASE IF NOT EXISTS {database_name}" # Create the Database
cursor.execute(query)

1

In [183]:
store_qry = f"""CREATE TABLE IF NOT EXISTS {database_name}.stores (
    Store INT PRIMARY KEY,
    Type VARCHAR(50) NOT NULL,
    Size INT NOT NULL
)"""
cursor.execute(store_qry) # Create Store Table

feature_qry = f"""CREATE TABLE IF NOT EXISTS {database_name}.features (
    Store INT,
    `Date` DATE NOT NULL,
    Temperature FLOAT NOT NULL,
    Fuel_Price FLOAT NOT NULL,
    MarkDown1 FLOAT NOT NULL DEFAULT 0,
    MarkDown2 FLOAT NOT NULL DEFAULT 0,
    MarkDown3 FLOAT NOT NULL DEFAULT 0,
    MarkDown4 FLOAT NOT NULL DEFAULT 0,
    MarkDown5 FLOAT NOT NULL DEFAULT 0,
    CPI FLOAT NOT NULL DEFAULT 0,
    Unemployment FLOAT NOT NULL DEFAULT 0,
    IsHoliday VARCHAR(10),
    PRIMARY KEY (Store, Date) 
)"""
cursor.execute(feature_qry) # Create Feature Table

sales_qry = f"""CREATE TABLE IF NOT EXISTS {database_name}.sales (
    Store INT,
    Dept INT NOT NULL,
    `Date` DATE NOT NULL,
    Weekly_Sales FLOAT NOT NULL,
    IsHoliday  VARCHAR(10),
    PRIMARY KEY (Store, Dept, Date) 
)"""
cursor.execute(sales_qry) # Create Feature Table

0

In [185]:
# Delete all rows in tables before insert
cursor.execute(f'delete from {database_name}.stores') # Delete all rows form Stores Table
cursor.execute(f'delete from {database_name}.features') # Delete all rows from Features Table
cursor.execute(f'delete from {database_name}.sales') # Delete all rows from Sales Table

# Insert rows from dataframes into the tables
for index, table in enumerate(tables):    ## Loop over tables
    columns = table.columns ## Needed to create our query as the insert into takes in the column names and the values as a parameter  
    param_1 = ", ".join(list(columns)) ## Creating the string for the list of columns
    param_2 = ("%s, " * len(columns))[:-2]  ## Creating the placeholder for the value

    query = f"INSERT INTO {database_name}.{tables_title[index]}({param_1}) VALUES ({param_2})"
    print(f'Inserting into ... tables_title[index]')
    for i in range(len(table)):
        row = list(table.iloc[i])        ## Getting the parameters to be passed which are the values in the row itself
        cursor.execute(query, (row))     ## Executing the query and passing the row as argument so that for each table,
    print(f'   All Rows Inserted')

Inserting into ... tables_title[index]
   All Rows Inserted
Inserting into ... tables_title[index]
   All Rows Inserted
Inserting into ... tables_title[index]
   All Rows Inserted

In [187]:
cnx.commit() # To Store All Pending Inserts into the Tables

In [188]:
cursor.execute(f'SELECT * FROM {database_name}.stores') ## Check if rows exists in Store Table
store_tbl = cursor.fetchall()

print(store_tbl)

((1, 'A', 151315), (2, 'A', 202307), (3, 'B', 37392), (4, 'A', 205863), (5, 'B', 34875), (6, 'A', 202505), (7, 'B', 70713), (8, 'A', 155078), (9, 'B', 125833), (10, 'B', 126512), (11, 'A', 207499), (12, 'B', 112238), (13, 'A', 219622), (14, 'A', 200898), (15, 'B', 123737), (16, 'B', 57197), (17, 'B', 93188), (18, 'B', 120653), (19, 'A', 203819), (20, 'A', 203742), (21, 'B', 140167), (22, 'B', 119557), (23, 'B', 114533), (24, 'A', 203819), (25, 'B', 128107), (26, 'A', 152513), (27, 'A', 204184), (28, 'A', 206302), (29, 'B', 93638), (30, 'C', 42988), (31, 'A', 203750), (32, 'A', 203007), (33, 'A', 39690), (34, 'A', 158114), (35, 'B', 103681), (36, 'A', 39910), (37, 'C', 39910), (38, 'C', 39690), (39, 'A', 184109), (40, 'A', 155083), (41, 'A', 196321), (42, 'C', 39690), (43, 'C', 41062), (44, 'C', 39910), (45, 'B', 118221))